# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
# RewriteBase /
Options +FollowSymlinks
RewriteEngine on
RewriteRule ^index$  index.php [L]
RewriteRule ^boutique$  boutique.php [L]
RewriteRule ^process$  process.php [L]
RewriteRule ^profil$  profil.php [L]
RewriteRule ^profil-viewer$  profil-viewer.php [L]
RewriteRule ^profil-browser$  profil-browser.php [L]
RewriteRule ^update-tsmdp$  update-tsmdp.php [L]
RewriteRule ^buy-ts-room$  buy-ts-room.php [L]
RewriteRule ^cancel$  cancel.php [L]
RewriteRule ^connexion$  connexion.php [L]
RewriteRule ^console$  console.php [L]
RewriteRule ^deconnexion$  deconnexion.php [L]
RewriteRule ^element$  element.php [L]
RewriteRule ^editionprofil$  editionprofil.php [L]
RewriteRule ^inscription$  inscription.php [L]
RewriteRule ^politiques$  politiques.php [L]
RewriteRule ^nous_rejoindre$  nous_rejoindre.php [L]
RewriteRule ^le_project$  le_project.php [L]
RewriteRule ^encore_plus$  encore_plus.php [L]
RewriteRule ^rapport$  rapport.php [L]
RewriteRule ^rapport-browser$  rapport-browser.php [L]
RewriteRule ^rapport-viewer$  rapport-viewer.php [L]
RewriteRule ^download$  download-launcher/download.php [L]
RewriteRule ^forum/$  forum/forum.php [L]
RewriteRule ^forum/topics$  forum/forum_topics.php [L]
RewriteRule ^forum/topic$  forum/topic.php [L]
RewriteRule ^admin-forum$  admin-forum.php [L]
RewriteRule ^freorg$  freorg.php [L]
RewriteRule ^vote$  vote.php [L]